@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
button[type="submit"] {
  padding: 10px 20px;
  background-color: black;

  color: white;
  border: none;

  cursor: pointer;
  font-size: 16px;
}

.word {
  word-wrap: break-word;
}

.chatbox h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}
